<div style="font-size:12px;border-bottom: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: #f6f6f6; MIN-HEIGHT: 120px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid">
	<div style="MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px">
		<div style="text-align:center">
			扫描微信关注我<br>
			<img alt="微信公众号二维码" title="微信公众号二维码" src="<%= theme.weixin_qr_code %>" height="90" />
		</div>
	</div>
	<div style="LINE-HEIGHT: 200%; MARGIN-TOP: 10px; COLOR: #000000">
		本文链接：<a href="<%= url_for(post.link) + post.path %>"><%= post.title %></a><br/>
		作者：<a title="点击联系我" href="mailto:<%= config.contact %>"><%= config.author %></a><br/>
		出处：<a href="<%= url_for(post.link) %>"><%= config.url %></a><br/>
		本文基于<a target="_blank" title="Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)" href="http://creativecommons.org/licenses/by-sa/4.0/"> 知识共享署名-相同方式共享 4.0 </a>国际许可协议发布，欢迎转载，演绎或用于商业目的，但是必须保留本文的署名及链接。
	</div>
</div>